/* Site Wide */

* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    color: inherit;
    text-decoration: none;
    list-style: none;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-size: calc(0.75em + 1vmin);
}

/* #region Responsive */

@media (max-width: 1600px) {
    .body {
        font-size: 1.4;
    }
}

@media (max-width: 800px) {
    .body {
        font-size: 1.4;
    }
}

@media (max-width: 480px) {
    .body {
        font-size: 1.2em;
    }
}

@media (max-width: 350) {
    .body * {
        font-size: 0.1vw;
    }
}

/* #endregion Responsive */

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative
}

.section-container {
    position: relative;
    width: 100%;
    padding-top: 50px;
}

.section-title * {
    position: relative;
    margin-bottom: 50px;
}

.section-title h1 {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.section-title h1:after {
    background: none repeat scroll 0 0 #318fb5;
    bottom: -5px;
    content: "";
    height: 2px;
    position: relative;
    width: 40px;
}

.section-content {
    width: 100%;
    margin: 0.5em 1em;
    flex-wrap: wrap;
}

.section-content h5 {
    font-size: 1.2em;
    font-weight: bold;
}

.section-content>div {
    margin: 1em 1em;
    width: 400px !important;
}

.section-container:nth-child(2n+1) {
    background-color: rgb(209, 209, 209);
}

/* #region Buttons Styling*/

.button-one {
    transition: all 0.4s;
    position: relative;
    padding-left: 10px;
}

.button-one::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.8s;
    padding-left: 15px !important;
    border-left: solid 4px #d7385e;
    transform: scale(1, 0.11);
}

.button-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
    color: #d7385e;
}

/* Buttone 2 */

.button-two {
    font-size: 16px;
    display: inline-block;
    padding: 0.26em 0.8em;
    border: 0.1em solid #a0a0a0;
    margin: 1em 0.2em 0.2em 0;
    border-radius: 0.5em;
    text-decoration: none;
    color: #a0a0a0;
    transition: all 0.15s;
}

.button-two:hover {
    text-shadow: 0 0 2em rgba(255, 255, 255, 1);
    color: #b1252c;
    border-color: #FFFFFF;
}

/* #endregion Buttons Styling */

/* Header */

header #home {
    height: 100%;
}

header #intro {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 1.6em;
}

/*#region Animation */

/* Gradient Background */

#gradient-background {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    min-height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Moving Glowing */

#glowing-containter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgb(43, 43, 43);
    overflow: hidden;
}

.glowing {
    position: relative;
    min-width: 750px;
    height: 500px;
    margin: -150px;
    transform-origin: right;
    animation: colorChange 5s linear infinite;
}

.glowing:nth-child(even) {
    transform-origin: left;
}

@keyframes colorChange {
    0% {
        filter: hue-rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
        transform: rotate(360deg);
    }
}

.glowing span {
    position: absolute;
    top: calc(80px * var(--i));
    left: calc(80px * var(--i));
    bottom: calc(80px * var(--i));
    right: calc(80px * var(--i));
}

.glowing span:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -8px;
    width: 15px;
    height: 15px;
    background: #f00;
    border-radius: 50%;
}

.glowing span:nth-child(3n + 1):before {
    background: rgba(134, 255, 0, 1);
    box-shadow: 0 0 20px rgba(134, 255, 0, 1), 0 0 40px rgba(134, 255, 0, 1), 0 0 60px rgba(134, 255, 0, 1), 0 0 80px rgba(134, 255, 0, 1), 0 0 0 8px rgba(134, 255, 0, .1);
}

.glowing span:nth-child(3n + 2):before {
    background: rgba(255, 214, 0, 1);
    box-shadow: 0 0 20px rgba(255, 214, 0, 1), 0 0 40px rgba(255, 214, 0, 1), 0 0 60px rgba(255, 214, 0, 1), 0 0 80px rgba(255, 214, 0, 1), 0 0 0 8px rgba(255, 214, 0, .1);
}

.glowing span:nth-child(3n + 3):before {
    background: rgba(0, 226, 255, 1);
    box-shadow: 0 0 20px rgba(0, 226, 255, 1), 0 0 40px rgba(0, 226, 255, 1), 0 0 60px rgba(0, 226, 255, 1), 0 0 80px rgba(0, 226, 255, 1), 0 0 0 8px rgba(0, 226, 255, .1);
}

.glowing span:nth-child(3n+1) {
    animation: animate 10s alternate infinite;
}

.glowing span:nth-child(3n+2) {
    animation: animate-reverse 3s alternate infinite;
}

.glowing span:nth-child(3n+3) {
    animation: animate 8s alternate infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-reverse {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/*#endregion Animation END */

/*#region Navigtation*/

/* @media screen and (max-width: 600px) {
    .topnav-links {
        width: 60%;
    }
} */

@media screen and (max-width: 600px) {
    .burger {
        display: block !important;
    }
    .mobile-nav-wrap {
        flex-direction: column;
        background-color: #222222;
        display: none;
        margin: 0;
        padding: 0;
        position: absolute;
        width: 100%;
        transform: translateY(40px);
    }
    .topnav-links li {
        position: relative;
        top: 0;
        left: 0;
        background-color: #005582;
        height: 40px;
        width: 100%;
        align-content: center;
        overflow: visible !important;
    }

    .topnav-links a {
        margin: 0 !important;
        color: white;
        position: relative;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
    }

    
    .topnav.open {
        margin-bottom: 120px;   

    }
}

#navigation {
    height: 40px;
    align-items: center;
    text-transform: uppercase;
    position: relative;
    flex: 1;
    background-color: #0f3057;
    z-index: 9;
    border-bottom: solid 3px #008891;
}

.topnav-background {
    position: absolute;
    background-color: #0f3057;
    height: 40px;
    width: 100%;
    top: 0;
    left: 0;
}

.topnav .topnav-links {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background-color: #0f3057;
    color: white;
    transform-origin: top;
    z-index: 3;
    
}

.linkfocus {
    color: #d7385e !important;
}

.linkfocus::before{
    height: 100%;
    width: 100%;
    content: '';
    position: absolute;
    left: 0;
    z-index: 1;
    opacity: 1;
    transition: all 0.8s;
    padding-left: 15px !important;
    border-left: solid 4px #d7385e !important;
    transform: scale(1, 1);
    
}

.topnav .topnav-links a {
    margin: 0px 2em; 
    width: 100%;
    text-decoration: none;
    color: inherit;
}

.topnav .topnav-links a:hover {
    color: #b1252c;
}

.topnav .burger {
    display: none;
    padding: 0.5rem;
    cursor: pointer;
}

.line {
    height: 2px;
    width: 35px;
    margin: 0.5rem 0;
    background: #daf8e3;
    transition: transform 0.75s ease, opacity 0.75s ease;
}

.open {
    margin: 0;
}  

.show {
    display: block;
}

.topnav.open .line1 {
    transform: translate(-10px) rotate(45deg) translate(15px);
}

.topnav.open .line2 {
    opacity: 0;
}

.topnav.open .line3 {
    transform: translate(-10px) rotate(-45deg) translate(15px);
}

/* Mobile Menu */

/*  Sitcky class for Navigation*/

.sticky {
    position: fixed !important;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 2em !important;
}

/*#endregion Navigation*/

/*#region Section - About */

#about-left {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    word-wrap: normal;
    width: 100px;
}

#about-left .photo {
    width: 40%;
    margin: 0 0 3vh 0;
}

#about-right {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.skills-container * {
    height: 4vh;
}

.skills-container.flex-colum {
    position: relative;
    align-items: flex-start;
}

.skills-bar.flex-column {
    align-items: flex-end;
    background-color: #eee;
    color: #666;
    position: relative;
    width: 100%;
    font-size: 11pt;
    margin: 0 0 15px 0;
}

.skills-bar.flex-column * {
    align-content: center;
    justify-content: center;
    font-size: 11pt;
}

.skills-bar.flex-column span {
    position: relative;
    color: grey;
    padding: 0 1% 0 0;
    z-index: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-fill {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #79a1cc;
    opacity: 1;
    padding: 0;
    max-width: 90%;
}

.skills-tittle {
    position: absolute;
    font-size: 1.4vh !important;
    top: 0;
    left: 0;
    color: white;
    width: 10vw;
    max-width: 100px;
    background-color: #00587a;
    font-weight: bold;
}

/* #endregion Section - About */

/*#region Portfolio*/

#portfolio ul {
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
}

#portfolio img {
    display: block;
    width: 400px;
    height: 400px;
    transition: .5s ease;
}

#portfolio .section-content li:hover img {
    opacity: 0.3;
}

#portfolio .section-content li {
    position: relative;
    width: 400px;
    height: 400px;
}

#portfolio .section-content div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#portfolio .image-title span {
    opacity: 0;
    color: white;
    font: 2em;
    background-color: cornflowerblue;
    padding: 10px 15px;
    font-size: 1.2em;
    white-space: nowrap;
}

#portfolio .section-content li:hover span {
    opacity: 1;
}

/* #endregion Section - About */

/* Contact */

#contact {
    background-color: #16335a;
    padding-bottom: 50px;
}

#contact .section-title {
    color: white;
    margin-bottom: 20px;
}

#form-contact>input, textarea {
    margin: 0.2em;
    width: 40vw;
    height: 3vw;
    font-size: 1em;
    background-color: #091f3b;
    color: white;
}

#form-contact>input, textarea {
    margin: 0.2em;
    width: 40vw;
    height: 4vw;
    font-size: 1em;
    background-color: #091f3b;
    color: white;
    border: none;
}


#form-contact>input:focus, textarea:focus {
    outline: none;
    caret-color: #d7385e;
    border-bottom: solid 1px #d7385e;
}

#form-contact ::placeholder {
    color: rgb(179, 179, 179);
    padding: 0.2em;
}

#form-contact textarea {
    height: 20vw;
    text-align: left;
}

#form-contact input[type=submit] {
    height: 2em;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: solid 0.1em white;
    cursor: pointer;
    overflow: hidden;
    color: white;
}

#form-contact input[type=submit]:hover {
    height: 2em;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: solid 0.1em white;
    cursor: pointer;
    overflow: hidden;
    background-color: #00587a;
    transition: all 0.5s;
}

.fa:hover, .fa:focus, .fa:active {
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvrgit-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@-webkit-keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

.fa {
    color: white;
    margin: auto 0.2em;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

footer {
    background-color: #091f3b;
    padding: 2em;
}

footer h6 {
    font-size: 1.2em;
    color: white;
    margin-bottom: 1em;
}

.info-box {
    margin: 1em;
    font-size: 0.7em;
    font-weight: 500;
    color: rgb(114, 114, 114);
}

.info-box span {
    color: rgb(179, 0, 0);
}

.social-icons {
    flex: 1;
}